* text=auto

*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.csv text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.cff text eol=lf
*.bib text eol=lf
*.svg text eol=lf
*.ipynb text eol=lf

*.docx binary
*.pptx binary
*.pdf binary
*.png binary
*.zip binary
